<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My first Bulma website</title>
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <nav id="navbar" class="navbar is-fixed-top ">
    <div id="specialShadow" class="bd-special-shadow"></div>

    <div class="container">

      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
              <img src="https://bulma.io/images/bulma-logo.png" id="logo">
            </a>

        <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
              <span class="icon" style="color: #333;">
                <i class="fab fa-lg fa-github"></i>
              </span>
            </a>

        <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
              <span class="icon" style="color: #55acee;">
                <i class="fab fa-lg fa-twitter"></i>
              </span>
            </a>

        <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuBulmaStartHero">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuBulmaStartHero" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  " href="/documentation/overview/start/">
                  Docs
                </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item " href="/documentation/overview/start/">
                    Overview
                  </a>
              <a class="navbar-item " href="https://bulma.io/documentation/modifiers/syntax/">
                    Modifiers
                  </a>
              <a class="navbar-item " href="https://bulma.io/documentation/columns/basics/">
                    Columns
                  </a>
              <a class="navbar-item " href="https://bulma.io/documentation/layout/container/">
                    Layout
                  </a>
              <a class="navbar-item " href="https://bulma.io/documentation/form/general/">
                    Form
                  </a>
              <a class="navbar-item " href="https://bulma.io/documentation/elements/box/">
                    Elements
                  </a>
              <a class="navbar-item " href="https://bulma.io/documentation/components/breadcrumb/">
                    Components
                  </a>
              <hr class="navbar-divider">
              <div class="navbar-item">
                <div>
                  <p class="is-size-6-desktop">
                    <strong>0.6.2</strong>
                  </p>

                  <small>
                          <a class="bd-view-all-versions" href="https://versions.bulma.io/">View all versions</a>
                        </small>

                </div>
              </div>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link " href="https://bulma.io/blog/">
                  Blog
                </a>
            <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">

              <a class="navbar-item" href="/2018/01/18/bulma-supports-font-awesome-5/">
                <div class="navbar-content">
                  <p>
                    <small class="has-text-link">18 Jan 2018</small>
                  </p>
                  <p>Bulma supports Font Awesome&nbsp;5</p>
                </div>
              </a>

              <a class="navbar-item" href="/2017/11/14/bulma-is-on-patreon/">
                <div class="navbar-content">
                  <p>
                    <small class="has-text-link">14 Nov 2017</small>
                  </p>
                  <p>Bulma is on Patreon!</p>
                </div>
              </a>

              <a class="navbar-item" href="/2017/11/01/fixed-navbar/">
                <div class="navbar-content">
                  <p>
                    <small class="has-text-link">01 Nov 2017</small>
                  </p>
                  <p>New feature: fixed navbar</p>
                </div>
              </a>

              <a class="navbar-item" href="https://bulma.io/blog/">
                    More posts
                  </a>
              <hr class="navbar-divider">
              <div class="navbar-item">
                <div class="navbar-content">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <strong>Stay up to date!</strong>
                      </div>
                    </div>
                    <div class="level-right">
                      <div class="level-item">
                        <a class="button bd-is-rss is-small" href="https://bulma.io/atom.xml">
                              <span class="icon is-small">
                                <i class="fas fa-rss"></i>
                              </span>
                              <span>Subscribe</span>
                            </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              More
            </div>
            <div id="moreDropdown" class="navbar-dropdown ">
              <a class="navbar-item is-active" href="https://bulma.io/bulma-start/">
                <div class="media">
                  <div class="media-left">
                    <span class="icon is-large has-text-success">
                          <i class="fas fa-rocket fa-2x"></i>
                        </span>
                  </div>
                  <div class="media-content">
                    <p>
                      <strong>Bulma start</strong>
                      <br>
                      <small>A tiny npm package to get started</small>
                    </p>
                  </div>
                </div>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item " href="https://bulma.io/made-with-bulma/">
                <div class="media">
                  <div class="media-left">
                    <span class="icon is-large has-text-primary">
                          <i class="fas fa-certificate fa-2x"></i>
                        </span>
                  </div>
                  <div class="media-content">
                    <p>
                      <strong>Made with Bulma</strong>
                      <br>
                      <small>The official community badge</small>
                    </p>
                  </div>
                </div>
              </a>
              <hr class="navbar-divider">
              <a id="moreDropdownBootstrap" class="navbar-item " href="https://bulma.io/alternative-to-bootstrap/">
                <div class="media">
                  <div class="media-left">
                    <span class="icon is-large">
                          <i class="fas fa-exchange-alt fa-2x"></i>
                        </span>
                  </div>
                  <div class="media-content">
                    <p>
                      <strong>Coming from Bootstrap</strong>
                      <br>
                      <small>See how Bulma is an alternative to Bootstrap</small>
                    </p>
                  </div>
                </div>
              </a>
              <hr class="navbar-divider">
              <a id="moreDropdownPatreon" class="navbar-item " href="https://bulma.io/backers/">
                <div class="media">
                  <div class="media-left">
                    <span class="icon is-large">
                          <i class="fab fa-patreon fa-2x"></i>
                        </span>
                  </div>
                  <div class="media-content">
                    <p>
                      <strong>Patreon backers</strong>
                      <br>
                      <small>Everyone who is supporting Bulma</small>
                    </p>
                  </div>
                </div>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item " href="https://bulma.io/extensions/">
                <div class="media">
                  <div class="media-left">
                    <span class="icon is-large has-text-danger">
                          <i class="fas fa-plug fa-2x"></i>
                        </span>
                  </div>
                  <div class="media-content">
                    <p>
                      <strong>Extensions</strong>
                      <br>
                      <small>Side projects to enhance Bulma</small>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <a class="navbar-item " href="https://bulma.io/expo/">
                <span class="bd-emoji">⭐️</span>
                Expo
              </a>
          <a class="navbar-item " href="https://bulma.io/love/">
                <span class="bd-emoji">❤️</span>
                Love
              </a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
                <span class="icon" style="color: #333;">
                  <i class="fab fa-lg fa-github"></i>
                </span>
              </a>
          <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
                <span class="icon" style="color: #55acee;">
                  <i class="fab fa-lg fa-twitter"></i>
                </span>
              </a>
          <div class="navbar-item">
            <div class="field is-grouped is-grouped-multiline">
              <p class="control">
                <a href="https://www.patreon.com/jgthms" target="_blank" style="display: block;">
                      <img
                        style="display: block; max-height: 36px;"
                        src="/images/become_a_patron_button.png"
                        width="153"
                        height="36"
                        srcset="/images/become_a_patron_button@3x.png 3x,
                                /images/become_a_patron_button@2x.png 2x,
                                /images/become_a_patron_button.png 1x"
                        alt="Become a patron">
                    </a>
              </p>
              <p class="control">
                <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=https://bulma.io&via=jgthms">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>
            Tweet
          </span>
        </a>

              </p>
              <p class="control">
                <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.6.2/bulma-0.6.2.zip">
                      <span class="icon">
                        <i class="fas fa-download"></i>
                      </span>
                      <span>Download</span>
                    </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <section class="hero is-medium is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title is-2 is-spaced">
                Hello Bulma!
              </h1>
            <h2 class="subtitle is-4">
                  Congratulations! You're running the <strong>Bulma start</strong> project.
                  <br>
                  It includes everything you need to <strong>build your own website</strong> with Bulma.
              </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <div class="content">
            <h3>What's included</h3>
            <p>
              The <code>npm</code> dependencies included in <code>package.json</code> are:
            </p>
            <ul>
              <li>
                <code><a href="https://github.com/jgthms/bulma">bulma</a></code>
              </li>
              <li>
                <code><a href="https://github.com/sass/node-sass">node-sass</a></code> to compile your own Sass file
              </li>
              <li>
                <code><a href="https://github.com/postcss/postcss-cli">postcss-cli</a></code> and <code><a href="https://github.com/postcss/autoprefixer">autoprefixer</a></code> to add support for older browsers
              </li>
              <li>
                <code><a href="https://babeljs.io/docs/usage/cli/">babel-cli</a></code>,
                <code><a href="https://github.com/babel/babel-preset-env">babel-preset-env</a></code> and
                <code><a href="https://github.com/jmcriffey/babel-preset-es2015-ie">babel-preset-es2015-ie</a></code> for compiling ES6 JavaScript files
              </li>
            </ul>
            <p>
              Apart from <code>package.json</code>, the following files are included:
            </p>
            <ul>
              <li>
                <code>.babelrc</code> configuration file for <a href="https://babeljs.io/">Babel</a>
              </li>
              <li>
                <code>.gitignore</code> common <a href="https://git-scm.com/">Git</a> ignored files
              </li>
              <li>
                <code>index.html</code> this HTML5 file
              </li>
              <li>
                <code>_sass/main.scss</code> a basic SCSS file that <strong>imports Bulma</strong> and explains how to <strong>customize</strong> your styles, and compiles to <code>css/main.css</code>
              </li>
              <li>
                <code>_javascript/main.js</code> an ES6 JavaScript that compiles to <code>lib/main.js</code>
              </li>
            </ul>
            <h3>Try it out!</h3>
            <p>
              To see if your setup works, follow these steps:
            </p>
            <ol>
              <li>
                <p>
                  <strong>Install</strong> all dependencies:
                  <br>
                  <pre><code>npm install</code></pre>
                </p>
              </li>
              <li>
                <p>
                  <strong>Start</strong> the CSS and JS watchers:
                  <br>
                  <pre><code>npm start</code></pre>
                </p>
              </li>
              <li>
                <p>
                  <strong>Edit</strong> <code>_sass/main.scss</code> by adding the following rule at the <strong>end</strong> of the file:
                  <br>
                  <pre><code>html { background-color: $green;}</code></pre>
                </p>
              </li>
            </ol>
            <p>
              The page background should turn <strong class="has-text-success">green</strong>!
            </p>
            <h3>Get started</h3>
            <p>
              You're <strong>ready</strong> to create your own designs with Bulma. Just edit or duplicate this page, or simply create a new one!
              <br> For example, this page is <strong>only</strong> built with the following <strong>Bulma elements</strong>:
            </p>
          </div>
          <table class="table is-bordered is-fullwidth">
            <thead>
              <tr>
                <th>Type</th>
                <th>CSS class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Columns</th>
                <td>
                  <code><a href="http://bulma.io/documentation/columns/basics">columns</a></code>
                  <code><a href="http://bulma.io/documentation/columns/basics">column</a></code>
                </td>
              </tr>
              <tr>
                <th>Layout</th>
                <td>
                  <code><a href="http://bulma.io/documentation/layout/section">section</a></code>
                  <code><a href="http://bulma.io/documentation/layout/container">container</a></code>
                  <code><a href="http://bulma.io/documentation/layout/footer">footer</a></code>
                </td>
              </tr>
              <tr>
                <th>Elements</th>
                <td>
                  <code><a href="http://bulma.io/documentation/elements/button">button</a></code>
                  <code><a href="http://bulma.io/documentation/elements/content">content</a></code>
                  <code><a href="http://bulma.io/documentation/elements/title">title</a></code>
                  <code><a href="http://bulma.io/documentation/elements/title">subtitle</a></code>
                </td>
              </tr>
              <tr>
                <th>Form</th>
                <td>
                  <code><a href="http://bulma.io/documentation/form/general">field</a></code>
                  <code><a href="http://bulma.io/documentation/form/general">control</a></code>
                </td>
              </tr>
              <tr>
                <th>Helpers</th>
                <td>
                  <code><a href="http://bulma.io/documentation/modifiers/typography-helpers/">has-text-centered</a></code>
                  <code><a href="http://bulma.io/documentation/modifiers/typography-helpers/">has-text-weight-semibold</a></code>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="content">
            <p>
              If you want to <strong>learn more</strong>, follow these links:
            </p>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-medium is-primary" href="http://bulma.io">
                  <strong class="has-text-weight-semibold">Bulma homepage</strong>
                </a>
            </p>
            <p class="control">
              <a class="button is-medium is-link" href="http://bulma.io/documentation/overview/start/">
                  <strong class="has-text-weight-semibold">Documentation</strong>
                </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <p>
            <strong class="has-text-weight-semibold">
                <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.1</a>
              </strong>
          </p>
          <p>
            <small>
                Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
              </small>
          </p>
          <p style="margin-top: 1rem;">
            <a href="http://bulma.io">
                <img src="made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="js/app.js"></script>
</body>

</html>