<% var data = { title: "Заголовок | Harrix Проект"}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<article>
  <header>
    <div class="section h-is-padding-bottomless">
      <div class="container">
        <div class="columns content has-text-centered">
          <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title h-has-special-hr">Заголовок страницы</h1>
            <p class="subtitle">
              Тут может располагаться одно-три предложение о продукте. Тут может располагаться одно-три предложение о продукте. Тут может располагаться одно-три предложение продукте.
            </p>
            <p class="buttons is-centered">
              <a class="button is-primary h-has-min-width" href="files/example.zip">
                <span class="icon">
                  <i class="fas fa-file-archive" aria-hidden="true"></i>
                </span>
                <span>Демо</span>
              </a>
              <a class="button is-primary h-has-min-width" href="files/example.zip">
                <span class="icon">
                  <i class="fas fa-download" aria-hidden="true"></i>
                </span>
                <span>Скачать</span>
              </a>
              <a class="button is-primary h-has-min-width" href="https://github.com/Harrix/Harrix-HTML-Template-For-Harrix-Sites">
                <span class="icon is-small">
                  <i class="fab fa-github" aria-hidden="true"></i>
                </span>
                <span>GitHub</span>
              </a>
            </p>
            <figure class="h-lightbox">
              <a href="uploads/header-image.png">
                <img src="uploads/header-image.png" alt="Цветы на берегу острова Татышев в городе Красноярск.">
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="section">
    <div class="container">
      <div class="columns content">
        <div class="column is-10-desktop is-offset-1-desktop">
          <p>Это первый абзац после аннотации страницы. Здесь кратко описывается о том, что будет содержаться в статье.</p>

          <a class="anchor" id="contents"></a>

          <nav id='js-table-of-contents'></nav>

          <h2>Типографика</h2>

          <p>В данном блоке пример использования обычного текста в несколько абзацев. Непосредственно в данном абзаце не будет применения никаких дополнительных украшательств текста. Просто несколько строк в абзаце. Поэтому мне надо о чем-нибудь тут написать, чтобы текста было побольше. Например, можно написать о том, что угол наклона оси вращения Земли составляет 23,44°. Именно такой угол наклона в моём логотипе.</p>

          <p>А теперь начнем показывать некоторые возможности оформления текста. Например, можно показать сочетания клавиш с помощью такой конструкции
            <kbd>Ctrl</kbd> +
            <kbd>V</kbd>. Таким же образом можно оформлять и вызов пунктов меню:
            <kbd>File</kbd> →
            <kbd>Open</kbd>.</p>

          <p>Для выделения текста используется тэг <code>code</code> и
            <var>var</var>. Например, название тэга именно так и оформлено. А это выделение <strong>обычным жирным</strong>.</p>

          <p>Ссылки (<a href="https://harrix.org">harrix.org</a>) отображаются другим цветом и подчеркиваются. При наведении на них цвет ссылки меняется на более светлый.</p>

          <p>Списки оформляются вот таким вот образом:</p>
          <ul>
            <li>Меркурий</li>
            <li>Венера</li>
            <li>Земля
              <ul>
                <li>Луна</li>
              </ul>
            </li>
            <li>Марс
              <ul>
                <li>Фобос</li>
                <li>Деймос</li>
              </ul>
            </li>
          </ul>

          <p>А это абзац текста после списка. Он тут для того, чтобы можно было оценить расстояние от списка до последующего текста.</p>

          <p>Приведем пример использования цитат в тексте:</p>

          <blockquote>Есть и еще одна очень похожая игра, которая называется «Ультиматум». В ней первый игрок тоже получает 100 долларов и может выдать часть из них другому игроку. Но здесь от второго игрока зависит исход этого дела.</blockquote>

          <p>
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span class="icon is-small"><i class="far fa-plus-square"></i> </span> Показать сплойер
        </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="columns content">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h2 id="columns">Колонки</h2>

          <div class="columns">
            <div class="column">
              Есть и еще одна очень похожая игра, которая называется «Ультиматум». В ней первый игрок тоже получает 100 долларов и может выдать часть из них другому игроку. Но здесь от второго игрока зависит исход этого дела. Если он отвергнет предложенные деньги, то денег не получит ни один из игроков. В этом случае игроки тоже не знают друг друга и никогда больше не встретятся. Если второй игрок отвергнет предложенные деньги, он вообще ничего не получит. Но, несмотря на это, второй игрок обычно отвергает предложенные деньги, если их меньше, чем примерно 30 долларов. Почему?
            </div>
            <div class="column">
              Есть и еще одна очень похожая игра, которая называется «Ультиматум». В ней первый игрок тоже получает 100 долларов и может выдать часть из них другому игроку. Но здесь от второго игрока зависит исход этого дела. Если он отвергнет предложенные деньги, то денег не получит ни один из игроков. В этом случае игроки тоже не знают друг друга и никогда больше не встретятся. Если второй игрок отвергнет предложенные деньги, он вообще ничего не получит. Но, несмотря на это, второй игрок обычно отвергает предложенные деньги, если их меньше, чем примерно 30 долларов. Почему?
            </div>
          </div>

          <div class="columns">
            <div class="column">
              Есть и еще одна очень похожая игра, которая называется «Ультиматум». В ней первый игрок тоже получает 100 долларов и может выдать часть из них другому игроку. Но здесь от второго игрока зависит исход этого дела. Если он отвергнет предложенные деньги, то денег не получит ни один из игроков. В этом случае игроки тоже не знают друг друга и никогда больше не встретятся. Если второй игрок отвергнет предложенные деньги, он вообще ничего не получит. Но, несмотря на это, второй игрок обычно отвергает предложенные деньги, если их меньше, чем примерно 30 долларов. Почему?
            </div>
            <div class="column">
              <figure class="h-lightbox">
                <a href="uploads/07.jpg"><img src="uploads/07-thumbnail.jpg" alt="Цветы на берегу острова Татышев в городе Красноярск."></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="columns content">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h2 id="lightbox">Lightbox</h2>

          <h3>Одиночное изображение слева</h3>

          <figure class="h-lightbox has-text-left">
            <a href="uploads/09.jpg"><img src="uploads/09-thumbnail.jpg" alt="Робот."/></a>
          </figure>

          <h3>Одиночное изображение по центру</h3>

          <figure class="h-lightbox">
            <a href="uploads/10.jpg"><img src="uploads/10-thumbnail.jpg" alt="Скафандр."/></a>
          </figure>

          <h3>Галерея</h3>

          <div class="h-gallery">
            <figure class="item" data-src="uploads/01.jpg"><img src="uploads/01-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/02.jpg"><img src="uploads/02-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/03.jpg"><img src="uploads/03-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/04.jpg"><img src="uploads/04-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/05.jpg"><img src="uploads/05-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/06.jpg"><img src="uploads/06-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/07.jpg"><img src="uploads/07-thumbnail.jpg" alt="" /></figure>
            <figure class="item" data-src="uploads/08.jpg"><img src="uploads/08-thumbnail.jpg" alt="" /></figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="columns content">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h2>What's included</h2>

          <p>
            The <code>npm</code> dependencies included in <code>package.json</code> are:
          </p>
          <ul>
            <li>
              <code><a href="https://github.com/jgthms/bulma">bulma</a></code>
            </li>
            <li>
              <code><a href="https://github.com/sass/node-sass">node-sass</a></code> to compile your own Sass file
            </li>
            <li>
              <code><a href="https://github.com/postcss/postcss-cli">postcss-cli</a></code> and <code><a href="https://github.com/postcss/autoprefixer">autoprefixer</a></code> to add support for older browsers
            </li>
            <li>
              <code><a href="https://babeljs.io/docs/usage/cli/">babel-cli</a></code>,
              <code><a href="https://github.com/babel/babel-preset-env">babel-preset-env</a></code> and
              <code><a href="https://github.com/jmcriffey/babel-preset-es2015-ie">babel-preset-es2015-ie</a></code> for compiling ES6 JavaScript files
            </li>
          </ul>
          <p>
            Apart from <code>package.json</code>, the following files are included:
          </p>
          <ul>
            <li>
              <code>.babelrc</code> configuration file for <a href="https://babeljs.io/">Babel</a>
            </li>
            <li>
              <code>.gitignore</code> common <a href="https://git-scm.com/">Git</a> ignored files
            </li>
            <li>
              <code>index.html</code> this HTML5 file
            </li>
            <li>
              <code>_sass/main.scss</code> a basic SCSS file that <strong>imports Bulma</strong> and explains how to <strong>customize</strong> your styles, and compiles to <code>css/main.css </code>
            </li>
            <li>
              <code>_javascript/main.js</code> an ES6 JavaScript that compiles to <code>lib/main.js</code>
            </li>
          </ul>
          <h3>Try it out!</h3>
          <p>
            To see if your setup works, follow these steps:
          </p>
          <ol>
            <li>
              <p>
                <strong>Install</strong> all dependencies:
              </p>
              <pre><code>npm install</code></pre>
            </li>
            <li>
              <p>
                <strong>Start</strong> the CSS and JS watchers:
              </p>
              <pre><code>npm start</code></pre>
            </li>
            <li>
              <p>
                <strong>Edit</strong> <code>_sass/main.scss</code> by adding the following rule at the <strong>end</strong> of the file:
              </p>
              <pre><code>html { background-color: $green;}</code></pre>
            </li>
          </ol>
          <p>
            The page background should turn <strong class="has-text-success">green</strong>!
          </p>
          <p>
            Every widget in the framework and support library has a default style. For example, when you style your app using a theme from the support lbrary, an instance of tton is styled using the Widget.AppCompat.Button style. If you'd like to apply a different widget style to a button, then you can do so with the style attribute your layout file. For example, the following applies the library's borderless button style. To discover all of the alternative widget styles available from the pport library, look at the R.style reference for fields that begin with Widget. (Ignore the styles that begin with Base_Widget.) Remember to replace all derscores with periods when using the style name in your resources.
          </p>
          <h3>Get started</h3>
          <p>
            You're <strong>ready</strong> to create your own designs with Bulma. Just edit or duplicate this page, or simply create a new one!
            <br> For example, this page is <strong>only</strong> built with the following <strong>Bulma elements</strong>:
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="columns content">
        <div class="column is-10-desktop is-offset-1-desktop">
          <table class="table is-bordered is-fullwidth">
            <thead>
              <tr>
                <th>Type</th>
                <th>CSS class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Columns</th>
                <td>
                  <code><a href="http://bulma.io/documentation/columns/basics">columns</a></code>
                  <code><a href="http://bulma.io/documentation/columns/basics">column</a></code>
                </td>
              </tr>
              <tr>
                <th>Layout</th>
                <td>
                  <code><a href="http://bulma.io/documentation/layout/section">section</a></code>
                  <code><a href="http://bulma.io/documentation/layout/container">container</a></code>
                  <code><a href="http://bulma.io/documentation/layout/footer">footer</a></code>
                </td>
              </tr>
              <tr>
                <th>Elements</th>
                <td>
                  <code><a href="http://bulma.io/documentation/elements/button">button</a></code>
                  <code><a href="http://bulma.io/documentation/elements/content">content</a></code>
                  <code><a href="http://bulma.io/documentation/elements/title">title</a></code>
                  <code><a href="http://bulma.io/documentation/elements/title">subtitle</a></code>
                </td>
              </tr>
              <tr>
                <th>Form</th>
                <td>
                  <code><a href="http://bulma.io/documentation/form/general">field</a></code>
                  <code><a href="http://bulma.io/documentation/form/general">control</a></code>
                </td>
              </tr>
              <tr>
                <th>Helpers</th>
                <td>
                  <code><a href="http://bulma.io/documentation/modifiers/typography-helpers/">has-text-centered</a></code>
                  <code><a href="http://bulma.io/documentation/modifiers/typography-helpers/">has-text-weight-semibold</a></code>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</article>

<%= _.template(require('./../includes/footer.html'))(data) %>