<% var data = {
  title: "Заголовок второй | Проект"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h1 class="short-underline">Заголовок страницы</h1>
          <p>Тут может располагаться одно-три предложение о продукте. Тут может располагаться одно-три предложение о продукте. Тут может располагаться одно-три предложение о продукте.</p>
          <p class="mt-4 mb-4">
            <a class="btn btn-title" href="files/example.zip"><i class="fas fa-file-archive" aria-hidden="true"></i> Демо</a>
            <a class="btn btn-title" href="files/example.zip"><i class="fas fa-download" aria-hidden="true"></i> Скачать</a>
            <a class="btn btn-title" href="https://github.com/Harrix/Harrix-HTML-Template-For-Harrix-Sites"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a>
          </p>
          <div class="js-lightbox">
            <a href="uploads/header-image.png"><img src="uploads/header-image.png" alt="Цветы на берегу острова Татышев в городе Красноярск."/></a>
          </div>
        </div>
      </div>
    </div>
  </article>
<%= _.template(require('./../includes/footer.html'))(data) %>