.alert {
    border: 0px;
    border-radius: 0px;
    position: relative;
}

.alert>i.fa {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.alert .after-icon {
    margin-left: 50px;
}

.alert-danger {
    background-color: #f54d4c;
    color: #fff;
}

.alert-info {
    background-color: #71c2c2;
    color: #fff;
}

.alert-warning {
    background-color: #f5944c;
    color: #fff;
}

.alert-success {
    background-color: #4abf60;
    color: #fff;
}

.color-danger {
    color: #f54d4c;
}

.color-info {
    color: #71c2c2;
}

.color-warning {
    color: #f5944c;
}

.color-success {
    color: #4abf60;
}

@media (max-width:990px){
.alert {
    line-height: 1.3;
}
}