article {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;

  a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      text-decoration: underline;
      color: $link-hover-color;
    }
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: $text-heading-color;

    &:hover {
      text-decoration: none;
      color: $link-hover-color;
    }
  }

  ol, ul {
    -moz-padding-start: 1rem;
    -webkit-padding-start: 1rem;
    -khtml-padding-start: 1rem;
    -o-padding-start: 1rem;
  }

  kbd {
    font-size: 0.875rem;
    color: $text-in-dark-color;
    background-color: $primary-color;
    border-radius: 0.1875rem;
    font-family: $font-stack-code;
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 2em;
    position: relative;
    quotes: "\201c" "\201d";
    font-size: 1.25rem;
    color: $blockquote-color;
    font-weight: $blockquote-font-weight;

    &:before {
      position: absolute;
      left: 0;
      top: 0.625rem;
      color: $primary-color;
      content: open-quote;
      font-family: georgia, serif;
      font-size: 2em;
      font-weight: bold;
      line-height: .7em;
    }

    @media (max-width: $grid-breakpoint-mobile) {
      font-size: 1rem;
      padding-left: 1.5rem;
    }

    &:before {
      font-size: 1.75em;
    }
  } 
  
  code {
    color: $primary-color;
    font-weight: bold;
    font-family: $font-stack-code;
    font-size: $code-font-size;
  }

  .fa-ul {
    margin-left: 1.5rem;
  }

  .changes {
    display: table;
    list-style: none !important;
  }

  .change-label-container {
    float: left;
    margin-left: -100px;
    width: 80px;
    text-align: right;
  }

  .changes li {
    padding-left: 100px;
    margin: 0 0 8px;
  }

  .change-label {
    font-style: normal;
    color: #fff;
    padding: 2px 8px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: $button-border-radius;
  }

  .change-new, .change-added {
    background-color: map-get($colors, green-color);
  }
  .change-fixed {
    background-color: map-get($colors, teal-light-color);
  }
  .change-improved, .change-updated {
    background-color: map-get($colors, teal-color);
  }
  .change-removed {
    background-color: #f5944c;
  }
}