button, .btn {
  &:active, &:focus {
    outline: none;
    box-shadow: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}

.btn {
  background-color: $primary-color;
  color: $text-in-dark-color !important;
  border: 0;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 0.625rem;
  padding: 0.5625rem 1.4375rem;
  margin-bottom: 0.625rem;

  &:hover, &:focus, &:active {
    background-color: $primary-light-color;
    color: $text-in-dark-color !important;
    border: 0;
  }
}

//NEW class
.btn-title {
  min-width: 8.125rem;
}

//NEW class
.btn-teal {
  background-color: map-get($colors, teal-color) !important;

  &:hover, &:focus, &:active {
    background-color: map-get($colors, teal-light-color) !important;
  }
}

//NEW class
.btn-green {
  background-color: map-get($colors, green-color) !important;

  &:hover, &:focus, &:active {
    background-color: map-get($colors, green-color-light) !important;
  }
}