@use "variables" as hvars;

.color-section {
  padding: 2rem 0.9375rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: hvars.$h-primary;
  line-height: 1.75;

  .container {
    position: relative;
  }

  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
  }

  p,
  .lead {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
  }

  @media (min-width: 544px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }

    p,
    .lead {
      font-size: 1.5rem;
    }
  }
}

.color-red-section {
  background-color: hvars.$h-color-section-red !important;
}

.hero.is-danger {
  background-color: hvars.$h-color-section-red;

  .hero-body,
  .title,
  .subtitle {
    color: #fff;
  }
}
