@use "variables" as hvars;

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: hvars.$h-body-font-size;
  line-height: 1.6;
}

a {
  color: hvars.$h-primary;
}
a:hover {
  color: hvars.$h-link-hover;
}

.btn.btn-primary {
  background-color: hvars.$h-primary;
  border-color: transparent;
  color: #fff;

  &:hover {
    background-color: hvars.$h-primary-hover;
    border-color: transparent;
    color: #fff;
  }
}

.h-sidebar {
  font-size: hvars.$h-navbar-font-size;
}

.h-columns-with-sidebar {
  align-items: flex-start;
}
