body {
  font-family: $font-stack;
  overflow-x: hidden;
  color: $text-color;
  font-weight: $text-font-weight;

   ::selection {
    color: $text-color-in-dark;
    background: $main-color;
  }

   ::-moz-selection {
    color: $text-color-in-dark;
    background: $main-color;
  }
}

@media (max-width: $grid-breakpoint-mobile) {
  .container {
    max-width: 100%;
  }
}

input, textarea {
  outline: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  margin-top: 1.125rem;
  margin-bottom: 1rem;
  color: $text-heading-color;
}

h1, .h1 {
  font-size: 1.75rem;
}

h2, .h2 {
  font-size: 1.625rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.375rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1.125rem;
}

.lead {
  font-size: 1rem;
  font-weight: $lead-font-weight;
}

.row {
  div {
    margin-bottom: 1rem;
  }
}

//NEW id
#back-to-top {
  height: 3.125rem;
  width: 3.125rem;
  right: 3.75rem;
  bottom: 3.75rem;
  position: fixed;
  font-size: 1.25rem;
  line-height: 3.125rem;
  background-color: map-get($colors, grey-color);
  opacity: 0.9;
  color: $text-color-in-dark;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  z-index: $z-index-lightbox - 1;
  display: none;

  &:hover {
    background-color: map-get($colors, teal-color);
  }

  @media (max-width: $grid-breakpoint-mobile) {
    bottom: 1.25rem !important;
    right: 1.25rem !important;
  }
}