@use "~bulma/sass/utilities/mixins" as mixins;

body {
  overflow-x: hidden;
}

.container {
  @include mixins.desktop {
    max-width: 1115px;
  }
}

.h-sidebar {
  font-size: 0.875rem;
}

.h-columns-with-sidebar {
  align-items: flex-start;
}
