body {
  font-family: $font-stack;
  overflow-x: hidden;
  color: $text-color;
  font-weight: $text-font-weight;

  ::selection {
    color: $text-in-dark-color;
    background: $primary-color;
  }

  ::-moz-selection {
    color: $text-in-dark-color;
    background: $primary-color;
  }
}

@media (max-width: $grid-breakpoint-mobile) {
  .container {
    max-width: 100%;
  }
}

input, textarea {
  outline: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  margin-top: 1.125rem;
  margin-bottom: 1rem;
  color: $text-heading-color;
}

h1, .h1 {
  font-size: $heading-h1-font-size;
}

h2, .h2 {
  font-size: $heading-h2-font-size;
}

h3, .h3 {
  font-size: $heading-h3-font-size;
}

h4, .h4 {
  font-size: $heading-h4-font-size;
}

h5, .h5 {
  font-size: $heading-h5-font-size;
}

h6, .h6 {
  font-size: $heading-h6-font-size;
}

.lead {
  font-size: 1rem;
  font-weight: $lead-font-weight;
}

.short-underline {
  //NEW class
  &:after {
    background: $hr-color;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    margin: 1.25rem auto;
    position: relative;
    width: 3rem;
  }
}

.row {
  div {
    margin-bottom: 1rem;
  }
}

#js-back-to-top {
  //NEW id
  height: 3.125rem;
  width: 3.125rem;
  right: 3.75rem;
  bottom: 3.75rem;
  position: fixed;
  font-size: 1.25rem;
  line-height: 3.125rem;
  background-color: $secondary-color;
  opacity: 0.9;
  color: $text-in-dark-color;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: none;

  &:hover {
    background-color: $secondary-color;
  }

  @media (max-width: $grid-breakpoint-mobile) {
    bottom: 1.25rem !important;
    right: 1.25rem !important;
  }
}