.content {
  h1 {
    font-size: $h-heading-h1-font-size;
  }

  h2 {
    font-size: $h-heading-h2-font-size;
  }

  h3 {
    font-size: $h-heading-h3-font-size;
  }

  h4 {
    font-size: $h-heading-h4-font-size;
  }

  h5 {
    font-size: $h-heading-h5-font-size;
  }

  h6 {
    font-size: $h-heading-h6-font-size;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}