.content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;

  a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      text-decoration: underline;
      color: $hover-link-color;
    }
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: $text-color;
    
    &:hover {
      text-decoration: none;
      color: $hover-link-color;
    }
  }

  ol, ul {
    -moz-padding-start: 1rem;
    -webkit-padding-start: 1rem;
    -khtml-padding-start: 1rem;
    -o-padding-start: 1rem;
  }

  kbd {
    font-size: 0.875rem;
    color: $text-color-in-dark;
    background-color: $main-color;
    border-radius: 0.1875rem;
    font-family: $font-stack-code;
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 2em;
    position: relative;
    quotes: "\201c" "\201d";
    font-size: 1.25rem;
    color: $blockquote-color;
    font-weight: $blockquote-font-weight;

    &:before {
      position: absolute;
      left: 0;
      top: 0.625rem;
      color: $main-color;
      content: open-quote;
      font-family: georgia, serif;
      font-size: 2em;
      font-weight: bold;
      line-height: .7em;
    }

    @media (max-width: $grid-breakpoint-mobile) {
    }
  }

  .important {
    color: $main-color;
    font-weight: bold;
    font-family: $font-stack-code;
  }

  .fa-ul {
    margin-left: 0.5em;
  }
}