.content {
  text-align: justify;

  h1 {
    font-size: $h-heading-h1-font-size;
  }

  h2 {
    font-size: $h-heading-h2-font-size;
  }

  h3 {
    font-size: $h-heading-h3-font-size;
  }

  h4 {
    font-size: $h-heading-h4-font-size;
  }

  h5 {
    font-size: $h-heading-h5-font-size;
  }

  h6 {
    font-size: $h-heading-h6-font-size;
  }

  a {
    &:hover {
      text-decoration: underline;
    }

    &.button {
      &:hover {
        text-decoration: none;
      }
    }
  }

  hr.h-is-special {
    background-color: $h-teal;
    border: none;
    display: block;
    height: 1px;
    text-align: center;
    margin: 1.5rem auto;
    width: 3rem;
  }

 figure {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}