footer {
    padding-top: 0px;
    color: #25292c !important;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}

footer a {
    color: #25292c !important;
    text-decoration: none;
}

footer a:visited {
    color: #25292c !important;
    text-decoration: none;
}

footer a:hover {
    color: #19a5a5 !important;
    text-decoration: none;
}

footer a:active {
    color: #19a5a5 !important;
    text-decoration: none;
}

footer a{
    font-weight: 500;
    color: #55595c;
}

footer a:hover {
    color: #0275d8;
}

footer p {
    margin-bottom: 0;
}

@media (min-width:544px){
footer {
    text-align: left;
}
}