footer {
  padding-top: 0px;
  text-align: left;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    font-weight: 500;
    color: $text-color;

    &:visited {
      color: $text-color !important;
      text-decoration: none;
    }

    &:hover {
      color: $link-hover-color !important;
      text-decoration: none;
    }

    &:active {
      color: $link-hover-color !important;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: $grid-breakpoint-mobile) {
    text-align: center;
  }
}