footer {
  padding-top: 0px;
  color: #25292c !important;
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    font-weight: 500;
    color: #55595c;

    &:visited {
      color: #25292c !important;
      text-decoration: none;
    }

    &:hover {
      color: #19a5a5 !important;
      text-decoration: none;
    }

    &:active {
      color: #19a5a5 !important;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  @media (min-width:544px) {
    text-align: left;
  }
}