body {
  padding-top: 5.0rem;
}

header {
  font-size: 14px;

  #logo {
    height: 50px;
    @include animation();
  }

  .shrink {
    height: 40px !important;
  }

  .icon-hamburger {
    height: 22px;
  }

  a {
    color: $text-color !important;

    &:hover {
      color: $link-color !important;
    }
  }

  .nav-link {
    @extend a;
  }

  .navbar-toggler {
    border: 1px solid transparent !important;
  }
}