@use "bs";
@use "variables" as hvars;
@use "mixins" as hmixins;

.navbar {
  min-height: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: hvars.$h-navbar-font-size;
  @include hmixins.h-transition(transform);

  &.h-is-hidden {
    transform: translateY(-100%);
  }

  #h-navbar-bottom {
    position: absolute;
    color: transparent;
    background-color: transparent;
    height: 0.5rem;
    left: 0;
    right: 0;
    top: 100%;
  }

  #h-logo {
    font-size: hvars.$h-navbar-logo-font-size;
    line-height: 0;
    color: bs.$body-emphasis-color;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: bs.$body-emphasis-color;
    }

    img {
      padding-right: 0.4375rem;
      height: hvars.$h-navbar-logo-img-height;
    }

    .h-is-sub {
      padding-left: 0.3125rem;
      font-weight: 400;
    }
  }

  .nav-link {
    gap: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &:hover {
      background-color: transparent;
    }

    img {
      max-height: 2rem;
    }

    .icon {
      &:only-child {
        margin-right: -0.125rem;
      }

      img {
        height: 0.875rem;
      }
    }
  }

  .nav-link.active {
    color: inherit;
    background-color: transparent;
  }

  @include bs.desktop {
    .dropdown {
      .nav-link.dropdown-toggle {
        padding-right: 1.75rem;

        &:after {
          right: 0.8125rem;
        }
      }
    }

    .dropdown-menu {
      .dropdown-item {
        &:hover {
          background-color: transparent;
          color: hvars.$h-primary;
          transition: none;
        }
      }
    }
  }

  .icon {
    color: hvars.$h-navbar-icon-color;
  }

  .navbar-toggler {
    color: hvars.$h-navbar-icon-color;
    border: none;
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .h-is-github-icon {
    color: hvars.$h-github;
  }
}
