.navbar {
  font-size: $navbar-font-size;
  @include h-animation();

  &.h-is-hidden {
    transform: translateY(-100%);
  }

  #h-navbar-bottom {
    position: absolute;
    color: transparent;
    background-color: transparent;
    height: 0.5rem;
    left: 0;
    right: 0;
    top: 100%;
  }

  #h-logo {
    font-size: 2.25rem;
    line-height: 0;
    @include h-animation();

    img {
      height: 3rem;
      max-height: 3rem;
      padding-right: 0.4375rem;
      @include h-animation();
    }

    .is-sub {
      padding-left: 5px;
      font-weight: 300;
    }

    &.h-is-shrink {
      font-size: 1.625rem;

      img {
        height: 2rem !important;
        max-height: 2rem !important;
      }
    }
  }

  .navbar-menu {
    @include touch {
      box-shadow: none;
    }
  }

  .navbar-item, .navbar-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &.has-dropdown {
      padding-left: 0;
      padding-right: 0;
    }

    .icon {
      &:only-child {
        margin-right: -0.125rem;
      }

      img {
        height: 0.875rem;
      }
    }
  }

  .navbar-link {
    padding-right: 1.75em;

    &:after {
      border-color: $navbar-item-color;
      right: 0.625rem;
    }
  }

  .navbar-burger {
    span {
      height: 2px;
      width: 18px;
    }

    &:hover {
      background-color: transparent;
    }
  }
}