.h-is-clipped-touch {
  @include touch {
    overflow: hidden !important;
  }
}

.h-is-clickable {
  pointer-events: auto !important;
  cursor: pointer !important;
}

.h-is-fullwidth {
  width: 100%  !important;
}

.h-is-nullwidth {
  width: 0  !important;
}