article pre  code {
  font-size: 13px;
  color: #474747;
  font-weight: normal;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 10px;
  color: #474747;
  background: #fafafa;
  font-family: $font-stack-code;
  font-size: 13px;
  margin: 0px;
  line-height: 18px;
  white-space: pre-wrap;
  border-width: 0px;
  border-color: #aaaaaa;
  border-style: solid;
  font-weight: 400;
  font-weight: normal;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
  font-style: italic;
}

.hljs-keyword,
.hljs-meta-keyword {
  color: #05ad97;
}

.hljs-selector-tag {
  color: #3193c6;
}

.hljs-subst {
  color: #444444;
}

.hljs-number {
  color: #d35400;
}

.hljs-literal {
  color: #ed2b38;
}

.hljs-variable {
  color: #4ABF60;
}

.hljs-tag {
  color: #474747;
}

.hljs-attr {
  color: #a15ebb;
}

.hljs-string,
.hljs-doctag {
  color: #05ad97;
}

.hljs-title {
  color: #9914c9;
}

.hljs-section {
  color: #474747;
}

.hljs-selector-id {
  color: #a15ebb;
}

.hljs-selector-class {
  color: #a15ebb;
}

/////////////

.hljs-type,
.hljs-class {
  color: #458;
}

/////////////

.hljs-name,
.hljs-attribute {
  color: #000080;
}

.hljs-regexp,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #009926;
}

.hljs-function {
  color: #009926;
}

.hljs-params {
  color: #009926;
}

.hljs-formula {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet,
.hljs-code {
  color: #990073;
}

.hljs-built_in {
  color: #ec4444;
}

.hljs-meta {
  color: #1990b8;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-meta-string {
  color: #4d99bf;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: normal;
}