.h-lightbox {
  img {
    max-width: 100%;
    height: auto;
  }
}

.h-gallery {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-around;
  display: none;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  width: calc(100% + $h-gallery-gap);

  img {
    width: 100%;
    display: block;
    height: auto;
  }

  div {
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    -webkit-justify-content: space-around;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: $h-gallery-gap;
    margin-bottom: $h-gallery-gap;

    cursor: pointer;

    width: 100%;
    height: auto;
  }

  &:after {
    -ms-flex: 20 150px;
    -webkit-flex: 20 150px;
    flex: 20 150px;
    display: block;
    content: ' ';
    height: 1px;
  }

  @include widescreen {
    &:after {
      -ms-flex: 500 300px;
      -webkit-flex: 500 300px;
      flex: 500 300px;
    }
  }

  @include desktop {
    &:after {
      -ms-flex: 100 250px;
      -webkit-flex: 100 250px;
      flex: 100 250px;
    }
  }

  @include tablet {
    &:after {
      -ms-flex: 50 200px;
      -webkit-flex: 50 200px;
      flex: 50 200px;
    }
  }
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
  border-radius: 0;
  border-width: 0;

  &:hover {
    opacity: 0.8;
  }
}

.content figure {
  margin: 0 !important;
}