@use "~bulma/sass/utilities/mixins" as mixins;
@use "variables" as hvars;
@use "mixins" as hmixins;

.h-lightbox {
  img {
    max-width: 100%;
    height: auto;
    cursor: zoom-in;
  }
}

.h-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start; //space-around;
  width: calc(100% + #{hvars.$h-gallery-gap});

  img {
    display: block;
    width: auto;
    height: 200px;
  }

  div {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: hvars.$h-gallery-gap;
    margin-bottom: hvars.$h-gallery-gap;
    width: auto;
    height: auto;

    cursor: zoom-in;
  }

  &:after {
    flex: 20 150px;
    display: block;
    content: " ";
    height: 1px;
  }

  @include mixins.tablet {
    &:after {
      flex: 50 200px;
    }
  }

  @include mixins.desktop {
    &:after {
      flex: 100 250px;
    }
  }

  @include mixins.widescreen {
    &:after {
      flex: 500 300px;
    }
  }
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
  border-radius: 0;
  border-width: 0;

  &:hover {
    opacity: 0.8;
  }
}

.content figure {
  @include hmixins.h-reset-margin;

  &.is-pulled-left {
    @include hmixins.h-reset-margin(0);
    margin-right: 1rem;
  }

  &.is-pulled-right {
    @include hmixins.h-reset-margin(0);
    margin-left: 1rem;
  }
}
