@mixin h-animation($property: all) {
  transition: $property $h-animation-duration $easing;
}

@mixin h-clickable {
  pointer-events: auto !important;
  cursor: pointer !important;
}

@mixin h-fullwidth {
  width: 100%;
}

@mixin h-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}