@mixin h-animation {
  transition: all $animation-duration $animation-type;
  -webkit-transition: all $animation-duration $animation-type;
  -moz-transition: all $animation-duration $animation-type;
  -o-transition: all $animation-duration $animation-type;
}