.navbar {
  @include desktop {
    #h-search-form {
      @include h-animation;
      @include h-overlay;
      z-index: $navbar-fixed-z + 1;
      transform: translateY(-100%);
      opacity: 0;
    }

    .has-visible-search-from {
      .navbar-item {
        &:not(:first-child) {
          opacity: 0;
        }
      }

      #h-search-form {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .control {
      width: 100%;

      .input {
        border: 0;
        box-shadow: none;
        font-size: $h-navbar-font-size;
      }

      .icon {
        height: 2rem;
      }
    }

    .navbar-end {
      position: relative;
    }

    .navbar-item {
      @include h-animation;
    }
  }
}