.navbar {
  @include desktop {
    .navbar-end {
      position: relative;
      @include h-animation;
    }

    #h-search {
      @include h-animation;
      @include h-overlay;
      z-index: 10;

      &.h-is-hidden {
        transform: translateY(-100%);
        opacity: 0;
      }
    }

    #h-navbar-menu {
      &.has-hidden-items {
        .navbar-item {
          @include h-animation;
        }

        .navbar-item:not(:first-child) {
          opacity: 0;
        }
      }
    }

    .input, .textarea {
      border: 0;
      box-shadow: none;
      font-size: $navbar-font-size;
    }
  }
}