@use "~bulma/sass/utilities/mixins" as mixins;
@use "variables" as hvars;

.section {
  .h-has-special-hr {
    margin-bottom: 2.5rem;

    &:after {
      background: hvars.$h-hr-special-background-color;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      right: 0;
      margin: 1.25rem auto;
      position: relative;
      width: 3rem;
    }
  }

  @include mixins.touch {
    padding: 1.5rem 0.9375rem;
  }
}
