.header-section {
  padding-top: 1rem;
  padding-bottom: 2rem;

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  h1 {
    &:after {
      background: $hr-color;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      right: 0;
      margin: 1.25rem auto;
      position: relative;
      width: 3rem;
    }
  }
}

.color-section {
  padding: 2rem .9375rem;
  margin-bottom: 1.5rem;
  color: #cdbfe3;
  text-align: center;
  background-color: map-get($colors, teal-color);
  line-height: 28px;

  .container {
    position: relative;
  }

  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
  }

  p {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
  }


  @media (min-width:544px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;

    .carbonad {
      margin: 2rem 0 0 !important;
    }
  }

  @media (min-width:768px) {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  @media (min-width:992px) {
    h1, p {
      margin-right: 380px;
    }

    .carbonad {
      position: absolute;
      top: 0;
      right: .75rem;
      margin: 0 !important;
    }
  }

}

.color-red-section {
  background-color: map-get($colors, red-color) !important;
}