@use "theme-dark-variables" as dark;
@use "variables" as hvars;

.h-theme-icon--dark {
  display: none;
}

[data-bs-theme="dark"] {
  .h-theme-icon--light {
    display: none;
  }

  .h-theme-icon--dark {
    display: inline-flex;
  }
}

[data-bs-theme="dark"] {
  .navbar {
    #h-logo {
      color: dark.$h-dark-text;

      &:hover {
        color: dark.$h-dark-text;
      }
    }

    .dropdown-menu {
      background-color: dark.$h-dark-surface !important;
      border: none !important;
      overflow: hidden;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3) !important;

      .dropdown-item {
        color: dark.$h-dark-text;
        background-color: transparent;

        &:hover {
          background-color: transparent;
          color: dark.$h-dark-text;
        }
      }
    }

    .icon,
    .navbar-toggler {
      color: dark.$h-dark-icon;
    }
  }

  .content {
    a {
      color: dark.$h-dark-link;

      &:hover {
        color: dark.$h-dark-link-hover;
      }
    }

    code {
      background-color: dark.$h-dark-input-bg;
      color: dark.$h-dark-text;
    }

    kbd {
      background-color: dark.$h-dark-input-bg;
      border-color: dark.$h-dark-border;
      color: dark.$h-dark-text;
    }

    pre {
      background-color: dark.$h-dark-surface;

      code {
        background-color: transparent;
      }
    }
  }

  .btn {
    &.btn-primary {
      background-color: hvars.$h-primary;
      border-color: transparent;
      color: #fff;

      &:hover {
        background-color: hvars.$h-primary-hover;
        color: #fff;
      }
    }
  }

  .h-code-block {
    .h-code-copy {
      background-color: dark.$h-dark-input-bg;
      color: dark.$h-dark-text;
      border-color: dark.$h-dark-border;

      &:hover {
        background-color: dark.$h-dark-border;
        color: #fff;
      }
    }
  }
}
